<div>
  <mat-card>
    <div class="content-login">
      <mat-card-content>
        <form [formGroup]="form" class="credential-form">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. abcxyz@email.com" formControlName="username" required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Ex. 123456" formControlName="password" type="password" required>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)=loginSuccess($event)>Login</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
